<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/scss/styles.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/scss/stylesaccount.css">
    <link rel="stylesheet" href="/scss/stylesaccountcreate.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/accounts">Accounts</a>
            <a href="/vouchers">Vouchers</a>
        </nav>
    </header>
<main>
