<%- include('partials/head.ejs') %>
<div id="home-main-container">
    <div id="home-container">
        <section id="card-group-home">
            <article class="card-home">
                <div class="inner-home-card-layout"> 
                    <p><i class="fa-solid fa-user"></i>Accounts</p>
                    <span>View and manage all accounts</span>
                    <a href="/accounts">Open Accounts <i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </article>
            <article class="card-home">
                <div class="inner-home-card-layout"> 
                    <p><i class="fa-solid fa-receipt"></i>Vouchers</p>
                    <span>View and manage all vouchers</span>
                    <a href="/vouchers">Open Vouchers <i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </article>
        </section>
    </div>
</div>
<%- include('partials/footer.ejs') %>